body {
    background-color:white;
  }
    a {
    text-decoration: none;
  }
  
  .card-link:hover .card {
    background-color: bisque; /* Change to the desired darker color */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}
